body,td{font-size:12px; color:#333333; margin:0px; padding:0px;  background:url(images/head.jpg) #fff no-repeat top center;}
a{text-decoration:none; color:#333333}
a:hover{color:#FF6600;}
ul,dl,dt,dd,p,form,li,h1,h2,h3,h4,h5,h6{padding:0px; margin:0px;}
li{list-style-type:none;}
img{border:0px;}
.con{width:935px; margin:0px auto;}
.con935 {background:#f1f1f1;padding: 0 20px;margin: 0 auto 15px auto;width: 935px;line-height: 30px;height: 30px;}
.clear{clear:both;}
.line{height:10px; clear:both;}
.top{line-height:25px; text-align:right;}
.top_l{float:left;}
.top_l a{display:block;  background:url(images/logo.gif) no-repeat left center;width:200px; height:60px}
.top_r{float:right; line-height:60px}
.right {float: right;}
.left {float: left;}
.nav{background:url(images/nav_bg.gif); height:49px; }
.nav ul{width:935px; margin:0px auto;}
.nav ul li{line-height:41px; float:left; text-align:center; width:125px; background:url(images/nav_x.jpg) no-repeat right top; }
.nav ul li a{color:#FFFFFF; font-size:14px; font-weight:bold;}
.nav ul li a:hover{color:#FFCC00; text-decoration:underline;}
.nav ul li a:visited{color:#FFFFFF;}

.ns_l{float:left; width:330px;border: 1px solid #ccc;}
.ns_c{float:left; margin-left:20px; width:324px;border: 1px solid #ccc;background:#fff; }
.ns_r{float:right; width:230px;border: 1px solid #ccc;background:#fff; }

.title{font-family: microsoft yahei,����;padding-left: 10px;font-size:14px; background:url(images/mb_13.gif) no-repeat left bottom; line-height:40px}
.title span{display:block; background:url(images/mb_11.gif) no-repeat left center; padding-left:20px; color:#FF6600 }
.title span a{color:#FF6600;}
.title span a:visited{color:#FF6600;}

.title2{font-size:14px; line-height:40px}
.title2 span{display:block; background:url(images/mb_11.gif) no-repeat left center; padding-left:20px; color:#FF6600 }


.title3{ background:url(images/li.jpg) no-repeat 10px center; line-height:30px; border:1px solid #DDDDDD; padding-left:20px}

.title4{background:url(images/mb_13.gif) no-repeat center bottom; line-height:50px; text-align:center; font-size:14px;}
.content{line-height:22px; padding:10px}
.content{margin-top:10px;}

.news ul li{line-height:25px; border-bottom:1px dotted #DDDDDD; color:#666666;}
.news ul li span{float:right; display:block;}
.news ul li a{padding-left:5px; color:#666666; display:block; float:left }
.news ul li a:hover{color:#FF6600;}

.about div img{float:left; border:1px solid #fff; padding:2px; margin-right:5px; margin-top:5px}
.about div{line-height:20px; text-indent:2em;}

.notice ul{padding-bottom:10px; margin-top:3px}
.notice ul li{line-height:27px; color:#666666; margin-left:10px; margin-right:10px; }
.notice ul li a{padding-left:5px; color:#666666;}
.notice ul li a:hover{color:#FF6600;}
.contact {border: 1px solid #ccc;}
.contact ul{background:url(images/mb_16.gif) left bottom no-repeat; padding-bottom:20px; margin-top:5px}
.contact ul li{line-height:24px; margin-left:10px; margin-right:10px; }
.product{float:left; border:1px solid #DDDDDD; padding:2px; margin-right:5px; margin-top:5px}
.product dl{float:left; width:168px; margin-top:15px; text-align:center}
.product dl dt img{border:1px solid #DDDDDD; padding:2px; width:150px; height:120px}
.product dl dd{text-align:center;line-height: 40px;}

.bd_l{float:left; width:675px}
.bd_r{float:right; width:230px;}

.ab_l{float:left; width:220px;}
.ab_r{float:right; width:700px;}
.abtitle{background:url(images/title.jpg) no-repeat right center; text-align:center; font-size:14px; line-height:29px; color:#FFFFFF}

.news_list{margin-top:10px;}
.news_list ul{marign:5px;}
.news_list ul li{line-height:30px; border-bottom:1px dotted #DDDDDD;}
.news_list ul li span{float:right;}

.pic_list dl{float:left; text-align:center; width:175px; margin-top:5px}
.pic_list dl dt img{border:1px solid #DDDDDD; padding:2px; width:160px; height:160px;}
.pic_list dl dd{text-align:center; line-height:25px}

.bav{border:1px solid #DDDDDD; border-top:none;}
.bav ul{margin:5px;}
.bav ul li{line-height:35px; border-bottom:1px dotted #DDDDDD; text-align:center; height:35px; background:url(images/li.jpg) no-repeat 60px center;}
.bav p{text-align:center; padding:5px}

.bcv{border:1px solid #DDDDDD; border-top:none;}
.bcv ul{margin:5px;}
.bcv ul li{line-height:30px; border-bottom:1px dotted #DDDDDD; padding-left:5px}

.foot{background:url(images/foot.gif) repeat-x; }
.foot p{text-align:center;  padding-top:10px}
.foot a{color:#333333}
.foot a:visited{color:#333333}

.link{line-height:25px;}

/*��ҳ����*/
.list_page{text-align:center;margin-bottom:10px; margin-top:20px}
.list_page a{background:#fff;margin:0px 3px;padding:4px 8px;border:1px solid #FF6600;color:#A0A0A0;}
.list_page span{background:#FF6600;color:#fff;margin:0px 1px;padding:4px 8px;border:1px solid #FF6600;}


.list{}
.list div{}
.list div ul{cloear:both;}
.list div ul li{line-height:27px; background:url(images/list_li.gif) no-repeat left center; padding-left:10px;}
.list div ul li span{float:right;}
.list div ul li a{color:#333333}
.list div ul li a:hover{color:#FF6600;}
.list div ul li a:visited{color:#333333}
.list1{float:left; border: 1px solid #ccc;width: 327px;}
.list2{float:right; margin-left:20px;border: 1px solid #ccc;width: 327px;}
.list3{float:right;border: 1px solid #ccc;width: 230px;}
.listkh{float:left; border: 1px solid #ccc;width: 677px;}