<!DOCTYPE html>
<html lang="zh" class="no-js">
<head>
  <meta charset="utf-8" />
  <title>涉水轻舟 Sheshui.me</title>
  <meta name="description" content="涉水轻舟的文章：点滴记录生活，见证心路历程。包含个人日志与相册、汽车、摄影文章，以及互联网产品设计、用户体验等" />
  <meta name="keywords" content="涉水轻舟,Robin L.,Sheshui.me,Robinu.com,点滴记录,见证历程. 咖啡,音乐,博客,前端开发,用户体验,去骑车的那点事" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="涉水轻舟 Robin L." />
  <link rel="stylesheet" type="text/css" media="screen" href="http://sheshui.me/css/common.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="http://sheshui.me/css/style_2014.css?v201409" />
  <!-- Begin highlightjs -->
  <link rel="stylesheet" href="/js/highlight/styles/github.css">
  <!-- // End highlightjs -->
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="http://sheshui.me/atom/" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://sheshui.me/rss/" />
  <link rel="shortcut icon" href="http://sheshui.me/favicon.ico" />
  <link rel="canonical" href="http://sheshui.me/">
  
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
  <script src="http://sheshui.me/js/lib/jquery-1.10.2.min.js"></script>
  <script>!window.jQuery && document.write('<script src="http://sheshui.me/js/lib/jquery-1.10.2.min.js"><\/script>');</script>
  <script src="http://sheshui.me/js/lib/modernizr.custom.16617.js"></script>
  <!--[if lt IE 9]><script src="http://sheshui.me/js/html5shiv.js"></script> <script src="http://sheshui.me/js/css3-mediaqueries.js"></script><link rel="stylesheet" type="text/css" media="screen" href="/css/style-ie7.css" /><![endif]-->



</head>
<body class="default front">
  <div class="page">
    <div class="top">
  <div class="inner">
    <header>
      <h1 class="site-name"><a href="http://sheshui.me/?logo">SHESHUI.ME </a><span class="slogan">涉水轻舟-点滴记录,见证历程</span></h1>
      <nav class="mainnav">
        <ul class="section_list"><li class="active"><a href="http://sheshui.me/">首页</a></li><li ><a href="http://sheshui.me/about/">关于</a></li><li ><a href="http://sheshui.me/albums/">相册</a></li><li ><a href="http://sheshui.me/articles/">文章</a></li><li ><a href="http://sheshui.me/blogs/">博客</a></li><li ><a href="http://sheshui.me/calendar/">日历</a></li><li ><a href="http://sheshui.me/timeline/">时光轴</a></li></ul>
      </nav>
      <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">
                <li class="gn-search-item">
                  <form method="get" action="http://sheshui.me/" id="searchform1"><input placeholder="搜索博客" type="search" name="q" class="gn-search">
                  <a class="gn-icon icon-search"><span>搜索</span></a></form>
                </li>
                <li>
                  <a class="gn-icon icon-article" href="/blogs/">博客</a>
                  <ul class="gn-submenu">
                    <li><a class="gn-icon icon-tag" href="/author/Robin">涉水</a></li>
                    <li><a class="gn-icon icon-tag" href="/author/Jing">Jing宝</a></li>
                  </ul>
                </li>
                <li><a class="gn-icon icon-camera" href="/albums/">相册</a></li>
                <li><a class="gn-icon icon-article" href="/articles/">文章</a></li>
                <li><a class="gn-icon icon-calendar" href="/calendar/">日历</a></li>
                <li><a class="gn-icon icon-clock" href="/timeline/">时光轴</a>
                  <!--<ul class="gn-submenu">
                    <li><a class="gn-icon icon-tag" href="/timeline/">涉水点滴记录</a></li>
                    <li><a class="gn-icon icon-tag" href="/author/Jing">璟宝博客</a></li>
                  </ul>-->              
                </li>
                <li>
                  <a class="gn-icon icon-archive" href="/archives">归档</a>
                  <ul class="gn-submenu">
                    <li><a class="gn-icon icon-article" href="/archives/blogs-archive">日志归档</a></li>
                    <li><a class="gn-icon icon-pictures" href="/archives/albums-archive">相册归档</a></li>
                    <li><a class="gn-icon icon-archive" href="/archives">所有归档</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <li><a class="gn-icon icon-article" href="/blogs">博客</a></li>
        <li><a class="gn-icon icon-pictures" href="/albums"><span>相册</span></a></li>
        <li class="sitename"><a class="gn-icon icon-info" href="/"><span>SHESHUI.ME</span></a></li>
      </ul>
    <script src="http://sheshui.me/js/classie.js"></script>
    <script src="http://sheshui.me/js/gnmenu.js"></script>
    <script>
      new gnMenu(document.getElementById( 'gn-menu' ));
    </script>
    </header>
  </div>
</div>
    <div class="main clearfloat">
      
      
      
      <section>
      <!--[if lt IE 9]>
      <div class="tips not-ie" id="tipsWrap">
        <span class="close" id="clostBtn" title="Close">关闭</span>
        <div class="tips-content">
          <span class="notice">为了您有更好的浏览体验，请升级使用以下浏览器：</span><span class="browsers"><a href="http://www.google.com/chrome" class="chrome" title="谷歌浏览器">Chrome</a><a href="http://www.mozilla.org/en-US/firefox/new/" class="ff" title="火狐">Firefox</a><a href="http://www.opera.com/download/" class="opera" title="Opera">Opera</a><a href="http://www.apple.com/safari/download/" class="safari" title="Safari">Safari</a></span>
        </div>
        <script>$('#clostBtn').click( function(){ $('#tipsWrap').css('display','none'); } ); </script>
      </div>
      <![endif]--> 
        
          
            
              
                <!--<div class="slider-warp">
<div id="slides" class="slides">
  <img src="/files/slides/banner_slider_01.jpg" alt="" width="700" height="210" />
  <img src="/files/slides/banner_slider_02.jpg" alt="" width="700" height="210" />
  <img src="/files/slides/banner_slider_03.jpg" alt="" width="700" height="210"/>
</div>
</div>-->
                <article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/miss-guangzhou"><img src="http://sheshui.me/files/uploads/796t.jpg" alt="" width="240" height="150" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/miss-guangzhou">爱骑行，忆羊城</a></h2>


  <div class="content">
       
    	<p>广州一自行车友雯哥打我电话，说这个周末我们这些玩车的老人家一起去火炉山烧烤… 看来我又得缺席了… 雯哥其实是女的，因为霸气汉子，所以车友圈的人都称其为雯哥，后来我觉得还是称其为小雯更恰当，其实人家是一很漂亮的妹纸来着。而我叫涉水，我们在广州山地车圈子里面还是有一帮子朋友的～离开一年多，真心想念那个熟悉的环境与圈子，我已经好久没踩车了，也好久没冲山了～</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/note/">点滴记录 Note</a> </p>
  <p class="published"><time datetime="2014-10-30">/ 2014-10-30</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/miss-guangzhou#comment-list" class="comments_invite">查看评论 [4]</a></p>
  </div> 

</article><article class="entry">

  
  <h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/this-moment-for-which-moment">这一刻，又在为哪一刻？</a></h2>


  <div class="content">
       
    	<p>引用Chinese Tea里面一篇日志标题格式，原因是自己没那么文艺，更没法向对方博主那样有深度的生活阅历能写出一个具有文艺范的日志标题。摄影、旅行确实见证了一个人的成长，很喜欢对方的博客。喜欢的另一个原因是都采用Textpattern 搭建，准确说Textpattern是个好东西，虽然Wordpress很强劲，也很流行，但两年前我还是决定放弃而转向古老的Textpattern。不知道是否是一种倒退，但我确实很喜欢她，Textpattern美妙无比… 有时我们不能对追随大众的，我们应该追随自己内心的，或许这也是我们所缺失的独立思维。</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/note/">点滴记录 Note</a> </p>
  <p class="published"><time datetime="2014-10-20">/ 2014-10-20</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/this-moment-for-which-moment#comment-list" class="comments_invite">查看评论 [2]</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/guangzhou-biz-trip-0818"><img src="http://sheshui.me/files/uploads/787t.jpg" alt="" width="240" height="150" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/guangzhou-biz-trip-0818">广州出差小记3</a></h2>


  <div class="content">
       
    	<p>恰逢暑运结束，学生返校，火车票及其紧张，也让我感慨中国人确实多，或者是火车运力真心不足。而给自己定下的愿望是再也不要乘坐火车了。首先，路途时间不受自己把控；其二，晚点是正常的，哪怕晚点4～5小时，而不晚点是不正常的；其三，受不了车站的脏乱差以及在火车上也充斥着的各种酸味，这种味融合包括袜子脚臭、方便面、烟味等融于一体。</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/note/">点滴记录 Note</a> </p>
  <p class="published"><time datetime="2014-08-24">/ 2014-08-24</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/guangzhou-biz-trip-0818#comment-list" class="comments_invite">查看评论 [1]</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/play-guitar"><img src="http://sheshui.me/files/uploads/782t.jpg" alt="吉他" width="240" height="140" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/play-guitar">玩吉他</a></h2>


  <div class="content">
       
    	<p>玩吉他，在大学时期就萌生过的想法，目的很单纯也很简单，就是感觉抱着把吉他跟卖唱似的很容易让人新生羡慕眼光，这也是把妹泡妞的一大利器。第二次萌生玩吉他的想法是在部队时期，很多战友都玩，目的从打发寂寞无聊开始，慢慢成为大家的一种兴趣爱好&#8230;</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/coffee-music/">咖啡音乐 Coffee Music</a> </p>
  <p class="published"><time datetime="2014-08-10">/ 2014-08-10</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/play-guitar#comment-list" class="comments_invite">查看评论 [2]</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/fulwin2-driving-memory"><img src="http://sheshui.me/files/uploads/770t.jpg" alt="" width="240" height="140" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/fulwin2-driving-memory">风云2三万公里纪念</a></h2>


  <div class="content">
       
    	<p>买车后已经跑了三万公里了，时间过得很快，有时公里数也好、时间也好或许只是个数字，但我想应该借此机会给自己过往用车生活的一些回顾。</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/autolife/">用车生活 Auto Life</a> </p>
  <p class="published"><time datetime="2014-06-09">/ 2014-06-09</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/fulwin2-driving-memory#comment-list" class="comments_invite">查看评论 [3]</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/blog-gz-feeling"><img src="http://sheshui.me/files/uploads/766t.jpg" alt="" width="240" height="150" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/blog-gz-feeling">广州出差小记</a></h2>


  <div class="content">
       
    	<p>饭局就剩我们一帮超级男银吃着清单的茶点、喝着百威+普洱，却在重口味的相互黑… 年轻人在一起真是欢乐多！小白是在我们几个都吃完饭才从江南大道那边赶到体育西路…</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/note/">点滴记录 Note</a> </p>
  <p class="published"><time datetime="2014-04-21">/ 2014-04-21</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/blog-gz-feeling#comment-list" class="comments_invite">查看评论 [2]</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/suunto-vector-show"><img src="http://sheshui.me/files/uploads/761t.jpg" alt="Suunto" width="240" height="150" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/suunto-vector-show">Suunto Vector&#160;户外腕表</a></h2>


  <div class="content">
       
    	<p>2011年12月24日购入Suunto Vector系列，如今已使用两年，更换过一次电池。之前 <a href="http://sheshui.me/blogs/20111224-suunto-vector">关于Suunto的介绍博客</a> ，查看太平洋汽车最汽车板块的发帖 <a href="http://bbs.pcauto.com.cn/topic-4246473.html">不需高端大气，只要低调内涵， Suunto Vector 首秀</a>  </p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/photos/">影像记录 Photos</a> </p>
  <p class="published"><time datetime="2013-11-24">/ 2013-11-24</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/suunto-vector-show#comment-list" class="comments_invite">查看评论 [5]</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/self-driving-pingtan-s3"><img src="http://sheshui.me/files/uploads/733t.jpg" alt="平潭,厦门" width="240" height="150" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/self-driving-pingtan-s3">[厦门篇] 2013 国庆自驾游 厦大、沙滩很美</a></h2>


  <div class="content">
       
    	<p>偶这次途径厦门，没有去鼓浪屿，而且时间是选择在假期结束前两天，此时大部分游客已经开始返程，所以岛内稍显不会那么拥挤，不会人头颤动，不会交通堵塞…  环岛自驾，有条件有时间自行车环岛一圈最好不过… 强烈建议！</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/travel/">旅行生活 Travel</a> </p>
  <p class="published"><time datetime="2013-10-25">/ 2013-10-25</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/self-driving-pingtan-s3#comment-list" class="comments_invite">查看评论 [5]</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/self-driving-pingtan-s2"><img src="http://sheshui.me/files/uploads/732t.jpg" alt="平潭" width="240" height="150" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/self-driving-pingtan-s2">[福州篇] 2013 国庆自驾游&#160;西湖公园</a></h2>


  <div class="content">
       
    	<p>偶算是第一次往福州游玩，不过我对城市兴趣不大，除了人多车多没有太多值得欣赏的地方。这一次也是老爸希望去，而且也迎合小孩的游玩需求。老爸是因为在这边当兵所以一直向往故地重游，希望回去看看他当年游玩的西湖、鼓山，不过后来终究因为时间原因没能去成鼓山游玩…</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/travel/">旅行生活 Travel</a> </p>
  <p class="published"><time datetime="2013-10-14">/ 2013-10-14</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/self-driving-pingtan-s2#comment" class="comments_invite">去评论一下</a></p>
  </div> 

</article><article class="entry">

  
  <p class="float-left article-image"><a rel="bookmark" href="http://sheshui.me/blogs/self-driving-pingtan-s1"><img src="http://sheshui.me/files/uploads/731t.jpg" alt="平潭" width="240" height="150" /></a></p><h2 class="post-title"><a rel="bookmark" href="http://sheshui.me/blogs/self-driving-pingtan-s1">[平潭篇] 2013 国庆自驾游&#160;海岛风情美图</a></h2>


  <div class="content">
       
    	<p>平潭位于福建省东部，与台湾隔海相望，是祖国大陆距离台湾岛最近的地方。<sup id="fnrev19883035955258f65ee8c0a" class="footnote"><a href="#fn19883035955258f65ee8c0a">1</a></sup>平潭，简称“岚”，俗称海坛，亦称海山，为福建省管辖的综合实验区，由以海坛岛为主的126个岛屿组成，是福建省第一大岛，我国第五大岛，是福建的“马尔代夫”，也是著名的渔业基地。</p>
  
  </div>
  <div class="meta">
  <p class="category"><a rel="tag" href="http://sheshui.me/category/travel/">旅行生活 Travel</a> </p>
  <p class="published"><time datetime="2013-10-12">/ 2013-10-12</time></p>
  <p class="commentlink"><a href="http://sheshui.me/blogs/self-driving-pingtan-s1#comment" class="comments_invite">去评论一下</a></p>
  </div> 

</article>
               
                        
                             
                 
        
        <div class="pager-nav">
          
          <a href="http://sheshui.me/?pg=2"><p class="prev">下一页</p></a>          
        </div>
                          
      </section>
      <aside>
  <div class="widget search">
  <form method="get" action="/" id="searchform">
<p class="search_input"><input class="inputtext" type="text" value='搜索关键字...' title="输入关键字，Enter 键搜索" name="q" size="15" onfocus="OnEnter(this)" onblur="OnExit(this)"><input type="submit" value="搜索" class="btn"></p>
</form>  
  </div>
  <div class="widget proverbs"><p>不要艳羡他人，不要输掉自己 。</p></div>

  <div class="widget introduce">

  <h3>Robin L.</h3>
  <p><label class="myprofile">涉水轻舟</label>,I am Web Product Designer live in GZ. I enjoy Read,Music,Coffee,and Cycling. Following me on <a href="http://twitter.com/ucoding" target="_blank">Twitter</a> and <a href="https://plus.google.com/115304868786019026040" target="_blank">Google+</a>. <br>Email: <a href="mailto:info@sheshui.net">Info@sheshui.net</a> <br>此博客纯手工打造，值得信赖 :D </p>
  <p><a href="/blogs/thinking"><img src="/images/stop_qq.jpg" alt="急事电话，要事邮件，拒聊QQ；碎片思考，不刷微博；微信，源于约炮，盛于代购，卒于转发；" title="谢绝QQ，不刷微博、微信" /></a></p>

</div>
  <div class="widget">
    <h3>博客分类 <span class="en">Categories</span></h3>
    <div class="list">
      <ul class="category_list">
      
        <li class="parent "><a href="http://sheshui.me/blogs/?c=note">点滴记录 Note</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=-cycling">骑行日志 Cycling</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=autolife">用车生活 Auto Life</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=beibei">贝贝成长记 BeiBei</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=career">职场记录 Career</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=coffee-music">咖啡音乐 Coffee Music</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=memoirs">回忆录 Memoirs</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=photos">影像记录 Photos</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=travel">旅行生活 Travel</a></li>
      
      
      
        <li><a href="http://sheshui.me/blogs/?c=works">项目作品 Works</a></li>
      
      </ul>
    </div>
  </div>


  <!--<div class="widget">
  <h3>最近留言 <span class="en">Comments</span></h3>
  <ul class="recent_comments">
	<li><a href="http://sheshui.me/blogs/miss-guangzhou#c000087">懿古今 (爱骑行，忆羊城)</a></li>
	<li><a href="http://sheshui.me/blogs/blog-gz-feeling#c000086">王语双个人网站 (广州出差小记)</a></li>
	<li><a href="http://sheshui.me/blogs/miss-guangzhou#c000085">差不多先生 (爱骑行，忆羊城)</a></li>
	<li><a href="http://sheshui.me/blogs/play-guitar#c000084">王语双个人网站 (玩吉他)</a></li>
	<li><a href="http://sheshui.me/blogs/miss-guangzhou#c000083">王语双个人网站 (爱骑行，忆羊城)</a></li>
	<li><a href="http://sheshui.me/blogs/this-moment-for-which-moment#c000082">王语双个人网站 (这一刻，又在为哪一刻？)</a></li>
	<li><a href="http://sheshui.me/blogs/miss-guangzhou#c000081">歌词找歌名 (爱骑行，忆羊城)</a></li>
	<li><a href="http://sheshui.me/blogs/this-moment-for-which-moment#c000080">光触媒 (这一刻，又在为哪一刻？)</a></li>
	<li><a href="http://sheshui.me/blogs/play-guitar#c000079">歌词找歌名 (玩吉他)</a></li>
	<li><a href="http://sheshui.me/blogs/guangzhou-biz-trip-0818#c000078">中药方剂 (广州出差小记3)</a></li>
</ul>
  </div>-->
  <div class="widget archives">
  <h3>归档 <span class="en">Archives</span></h3>
  <ul><li><a href="/archives/?date=2014-11">November 2014</a></li><li><a href="/archives/?date=2014-10">October 2014</a></li><li><a href="/archives/?date=2014-09">September 2014</a></li><li><a href="/archives/?date=2014-08">August 2014</a></li>
    <li><a href="/archives" title="More...">查看全部</a></li>
  </ul>
  </div>
  <div class="widget">
    <h3>链接 <span class="en">Blogroll</span></h3>
    <div class="list">
    <ul class="linklist">
	<li><a href="http://cathyma.com/about/" target="_blank" title="Twitter 好友～">Hacking the Good Days</a></li>
	<li><a href="http://ialmost.cn/blog/" target="_blank" title="">差不多的人生</a></li>
	<li><a href="http://www.kison.cn/" target="_blank" title="车友老琦的博客，关于吉他，骑行，网页设计及生活">Kison&#039;s Blog</a></li>
	<li><a href="http://blog.kurrunk.com/" target="_blank" title="百度Kurrunk的个人博客">Kurrunk 困壳的博客</a></li>
	<li><a href="http://sunsetsunrising.com/" target="_blank" title="淘宝UED Liz的博客http://lizziesky.appspot.com/">艳盛的博客</a></li>
	<li><a href="http://papapapapa.blogbus.com/" target="_blank" title="财付通晓帆的个人博客">晓帆的设计大巴</a></li>
	<li><a href="http://roakill.ouyang.blog.163.com" target="_blank" title="欧阳的网易博客，摄影、旅行、IT">Yuking.ouyang</a></li>
	<li><a href="http://tid.tenpay.com/" target="_blank" title="让生活支付更完美">财付通设计中心</a></li>
	<li><a href="http://www.bokeyy.com/" target="_blank" title="李源媛, Vivian,袁源的个人博客">博客歪歪</a></li>
	<li><a href="http://www.zawaliang.com/" target="_blank" title="腾讯同事Zawa的博客">Zawa 的博客</a></li>
	<li><a href="http://biaoge.me/" target="_blank" title="表格的个人博客">表格Jerry的博客</a></li>
</ul>
    </div>
  </div>
  <div id="latest-articles" class="widget">
  <h3>最新日志 <span class="en">Recently</span></h3>
     <div class="article-list"><ul>
<li><a rel="bookmark" href="http://sheshui.me/blogs/career-photos">那些年，工作过的地方</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/rooted-in-the-heart-of-accomplishment">根植于内心的修养，无需提醒的自觉</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/miss-guangzhou">爱骑行，忆羊城</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/car-maintenance">用车保养记录</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/self-driving-shaojiwo">筲箕窝 焖鸭 --广州城内自驾</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/note-2014010-26">周末回家</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/this-moment-for-which-moment">这一刻，又在为哪一刻？</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/cycling-xinyu">新余踩车</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/care-for-social-tools-weixin-etc">善用网络社交等工具</a></li>
<li><a rel="bookmark" href="http://sheshui.me/blogs/el-condor-pasa">[Song] El Condor&#160;Pasa</a></li></ul></div>
  
  </div>
  <div class="widget">
    <h3>联系我 <span class="en">Contact</span></h3>
    <div class="contact-block">
    <form method="post" id="zcr333d8f1978a29164d1f38a58b61e65f0" class="zemContactForm" action="/#zcr333d8f1978a29164d1f38a58b61e65f0">
<fieldset>
<legend>Contact</legend>
<input type="hidden" name="zem_contact_nonce" value="d8fb3898d8198857b6e59b37297073a5" />
<input type="hidden" name="zem_contact_form_id" value="333d8f1978a29164d1f38a58b61e65f0" />              
      <p><label for="Name" class="zemText zemRequired Name">Name</label><br /><input type="text" id="Name" class="zemText zemRequired" name="Name" value="" maxlength="50" /></p>
      <p><label for="q198584454b0ce1101ff5b50323325aa8" class="zemText zemRequired q198584454b0ce1101ff5b50323325aa8">Your email address</label><br /><input type="text" id="q198584454b0ce1101ff5b50323325aa8" class="zemText zemRequired" name="q198584454b0ce1101ff5b50323325aa8" value="" maxlength="100" /></p>
      <p><label for="q352519cba02e5e9ce17b9477a012e87c" class="zemTextarea zemRequired q352519cba02e5e9ce17b9477a012e87c">Your question</label><br /><textarea id="q352519cba02e5e9ce17b9477a012e87c" class="zemTextarea zemRequired" name="q352519cba02e5e9ce17b9477a012e87c" cols="58" rows="8"></textarea></p>
      <p><label for="humanvalidate" class="zemText zemRequired humanvalidate">Human? Please type: sheshui.me</label><br /><input type="text" id="humanvalidate" class="zemText zemRequired" name="humanvalidate" value="" maxlength="100" /></p>
      <input type="submit" class="zemSubmit" name="zem_contact_submit" value="Send" />
    
</fieldset>
</form>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.zemSubmit').attr('disabled','disabled');
        $('#humanvalidate').blur(function() {
          if($(this).val() == 'sheshui.me') {
            $('.zemSubmit').removeAttr('disabled');
          }
        });
      });
    </script>
    </div>
  </div>  
  <script>
  /*$(document).ready(function() {  
   // check where the shoppingcart-div is  
   var offset = $('#latest-articles').offset(); 
   $(window).scroll(function () {  
     var scrollTop = $(window).scrollTop(); // check the visible top of the browser  
     if (offset.top<scrollTop) $('#latest-articles').addClass('fixed');  
     else $('#latest-articles').removeClass('fixed');  
    });  
  }); */  
  // ref: http://stackoverflow.com/questions/5273453/using-jquery-to-keep-scrolling-object-within-visible-window
  </script>
  
</aside>
    </div>
    <div class="bottom">
      <div class="inner">
        <footer>
          <!--<div class="footer-left">
           <nav><a href="/about/">关于<span class="en">About</span></a> <a href="/about/works/">案例<span class="en">Works</span></a> <a href="/about/services">服务<span class="en">Services</span></a></nav>
            <div class="box first">
              <h2>About</h2>
              <div class="article-list"><ul>
<li><a rel="bookmark" href="http://sheshui.me/about/release">Release</a></li>
<li><a rel="bookmark" href="http://sheshui.me/about/services">Services</a></li>
<li><a rel="bookmark" href="http://sheshui.me/about/works">Works</a></li>
<li><a rel="bookmark" href="http://sheshui.me/about/links">Links</a></li>
<li><a rel="bookmark" href="http://sheshui.me/about/read">Read</a></li></ul></div>
            </div>
            <div class="clearfix"></div>
          </div>-->
          <div class="footer-right">
            <p><cite>&copy; 2014 Sheshui.me</cite></p>
            <p>Powered by <a href="http://textpattern.com" target="_blank">Textpattern</a>, <span title="涉水轻舟">Themed by <a href="/about/" target="_blank">Robin L.</a> &nbsp; </span></p>
            <p><a href="http://sheshui.me/rss/" title="RSS Feed">RSS</a> / <a href="http://sheshui.me/atom/" title="Atom Feed">Atom</a></p>
          </div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>
  </div> <!-- //page -->
<script src="http://sheshui.me/js/sheshui.js?201308"></script>
<!-- Begin highlightjs -->
<script src="/js/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- // End highlightjs -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8809619-6']);
  _gaq.push(['_setDomainName', 'sheshui.me']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>